body {
  background: url('../images/site_background.png');
  padding: 3em 50px;
  text-shadow: 0 1px 1px #eee;
  color: #222220; !important;
  line-height: 1.5;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 16px;
  display: block;
  margin: 8px;
}

div {
  display: block;

}

div[role="container"] {
  max-width: fill-available;
  margin: 0 auto;
  overflow: hidden;
}

.loading {
  background: url('../images/ajax-loader.gif') no-repeat;
}

#logo a {
  color: #222;
  font-size: 32px;
  font-family: "BebasNeueRegular","Hevetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin-right: auto;
  margin-left: auto;
}

a:link {
  text-decoration: none;
  color: darkblue;
}

.clearfix {
  zoom: 1;
}

ul {
  list-style: none;
}

footer {
  clear: both;
  border-top: 1px grey solid;
  margin-top: 1em;
  font-size: 14px;
}

.screenshot {
  width: 75%;
  borer: 1px solid grey;
  margin: 0 0 5px 0;
}

.navigation { list-style: none; color: inherit; text-decoration: none; padding: 0px;}
.navigation li { display: inline-block; border-right: 1px solid grey; padding: 0px 10px;}
.navigation li:first-child{ padding-left: 0px;}
.navigation li:last-child{ border-right: none;}

.navigation .active { font-weight: bold; }

#about_me_nav { padding: 0px; margin: 0px;}

.tab_content {
  display: none;
  padding-top: 20px;

}

.tab_content.tab_active {
  display: block;

}

.tab_content p:first-child{
  margin-top: 0;
}

.tab a {
  display: inline-block;
}

.description {
  padding-bottom: 15px;
}
