body {
  background-image: url('../images/site_background.png');
  padding: 3em 10px;
  text-shadow: 0 1px 1px #eee;
  color: #222220; !important;
  line-height: 1.5;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 75%;
  display: block;
  margin: 8px;
}

div {
  display: block;
}

div[role="container"] {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
}

#logo a {
  color: #222;
  font-size: 32px;
  font-family: "BebasNeueRegular","Hevetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin-right: auto;
  margin-left: auto;
}

a:link {
  text-decoration: none;
}

.clearfix {
  zoom: 1;
}

ul {
  list-style: none;
}
